body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.user-starter-template {
  text-align: left;
  padding: 5px 15px;
}

img {
  max-width: 70%;
  max-height: 40%;
  height: auto;
  width: auto\9; /* ie8 */
  border: 2px solid black;
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
  border-top: none;
  padding: 10px;
}

.process-transaction-customer-info {
  text-align: left;
}

#enable-link {
  color: #FF0000;
}